<div  class="container link-container">
  <div class="row">
    <div class="">
      <p id="notice"><%= notice %></p>
      <p>
       <strong>Title:</strong>
       <%= @link.title %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="">
       <p>
        <strong>Url:</strong>
        <%= @link.url %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= render 'comments/comment' %>
      <%= link_to 'Edit', edit_link_path(@link) %> |
      <%= link_to 'Back', links_path %>
    </div>
  </div>
</div>
